body{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}
h1{
    color: palevioletred;
    text-align: center;
    font-size: 2.4rem;
}
p{
    color: black;
    text-align: center;
    font-size: 2.2rem;
}
h2{
    color: orangered;
    text-align: center;
    font-size: 1.8rem;
}
span{
    color: aliceblue;
    text-decoration: underline;
}
input.btn{
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    background-color: aquamarine;
    left: 40%;
   margin-bottom: 10px;
}
input.btn:hover{
    background-color: purple;
}